{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %}
{% block content%}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }} 
      <button type="submit">Upload</button> 
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <p>{{ text.url_link_description_2 }} <a href="{{text.url_2}}" target="_blank">
      <img src="{% static 'images/yt.svg' %}" alt="youtube logo" width="40">
      </a> 
    </p>
  </div>
  <div class="col-md-4">
    <p>{{ text.char_4 }}</p>
    <ul>
      <li><a href ="{% static 'docs/souTEXT.txt' %}" download>State Of The Union Text</a> </li>
      <li><a href ="{% static 'docs/souPDF.pdf' %}" download>State Of The Union PDF</a></li>
      <li><a href ="{% static 'docs/JDmanual.pdf' %}" download>John Deere Manual PDF</a></li>
      <li><a href ="{% static 'docs/2022-Ford-F-150-Owners-Manual.pdf' %}" download>Ford Manual PDF (750 pages)</a></li>
    </ul>
  </div>
  <div class="col-md-4"></div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Uploaded</th>
      <th scope="col"># of interactions</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents  %}
    <tr>
      <th scope="row">{{document.uploaded_on}}</th>
      <td>
        {{ document.sessions.all.count }}
      </td>
      <td>{{document.description|truncatewords:15}}</td>
      <td><a href="{% url 'documents:delete' document.id %}" class="btn btn-outline-danger btn-sm">Delete</a></td>
      <td><a href="{{ document.path_to_file.url }}" class="btn btn-outline-primary btn-sm" target="_blank">View Original</a></td>
      <td><a href="{% url 'documents:csv' document.id %}"class="btn btn-outline-secondary btn-sm">Download Data</a></td>
      <td><a href="{% url 'documents:interact' document.id %}"class="btn btn-outline-success btn-sm">Interact</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
