{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Job Profiles</h2>
<table class="table">
    <thead>
      <tr>

        <th scope="col">Company</th>
        <th scope="col">Resume</th>
        <th scope="col">Letters Genereated</th>
        <th scope="col">Job URL</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
    
{% for cover in covers  %}
      <tr>
        <th scope="row">{{cover.company_name}}</th>
        <td>{{cover.resume_id.description}}</td>
        <td>{{cover.covers.all.count }}</td>

        <td>
            {% if cover.job_description_url %}
            <a target="_blank"  class= "btn btn-dark" href="{{ cover.job_description_url.url }}">Job Posting</a>
            {% else %}
            Not entered
            {% endif %}
        </td>
        <td><a class= "btn btn-dark" href="{% url 'resumes:update_description' cover.id %}">Edit Description</a></td>

        <td><a class= "btn btn-dark" href="{% url 'resumes:trigger_and_list' cover.id %}">View & Generate</a></td>

        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

{% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        Previous
                    </a>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        Last
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
  {% endblock content %}